body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5f8fc;
}

h1{
    text-indent: 30%;
}

button{
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.content{
    display: flex;
}

.radio-label{
    position: relative;bottom: 2px;
}

.BMI-notes{
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-view{
    text-align: center;
    width: 50%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.output-view{
    text-align: center;
    width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.view-title{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 4%;
}

.form-input-BMI{
    background-image: linear-gradient(#60b3fc,#055296);
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-box{
    text-align: right;
    border-radius: 3px;
}

#Body-Weight{
    margin-left: 9px;
}

#CalcButton{
    background-image: linear-gradient(#04cf48,#01591e);
}

#ResetButton{
    background-image: linear-gradient(#eb0202,#940303);
}
.Output-BMI{
    background-image: linear-gradient(#60b3fc,#055296);
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#Body-Mass-Index{
    font-size: 64px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

#BMI-Classification{
    font-size: 32px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
