body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5f8fc;
}

h1{
    text-indent: 30%;
}

button{
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.content{
    /*membagi halaman menjadi 2*/
    display: flex;
}

.BMI-notes{
    /*untuk memberi ruang antara text*/
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-view{
    /*styling untuk sisi input*/
    text-align: center;
    width: 50%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.radio-label{
    /*styling label radio*/
    position: relative;bottom: 2px;
}


.output-view{
    /*styling untuk sisi output*/
    text-align: center;
    width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.view-title{
    /*styling untuk judul sisi output dan input*/
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 4%;
}

.form-input-BMI{
    /*styling area Form input*/
    background-image: linear-gradient(#60b3fc,#055296);
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-box{
    /*Styling kotak text*/
    text-align: right;
    border-radius: 3px;
}

#Body-Weight{
    /*Styling agar kotak text sejajar*/
    margin-left: 9px;
}

#CalcButton{
    background-image: linear-gradient(#04cf48,#01591e);
}

#ResetButton{
    background-image: linear-gradient(#eb0202,#940303);
}
.Output-BMI{
    /*Styling area Output*/
    background-image: linear-gradient(#60b3fc,#055296);
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#Body-Mass-Index{
    /*Styling hasil kalkulasi BMI*/
    font-size: 64px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

#BMI-Classification{
    /*Styling Klasifikasi BMI*/
    font-size: 32px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 877px) {
    .content{
        flex-direction: column;
    }

    .input-view{
        width: 100%;
    }
}